@page "/editstatusfinalbill/{id}"
@inherits EditStatusFinalBillBase


<h3>StatusFinalBill</h3>
<EditForm Model="EditStatusModel" OnSubmit="OnSubmit">


    <div class="row">
        <div class="col-3">
            <div>
                <label for="shortname" class="col-10">
                    Short name of code:
                </label>
            </div>
            <div class="card" style="margin: auto">
                <InputText id="shortname" class="form-control" placeholder="Short name of status"
                           @bind-Value="EditStatusModel.ShortName" />
            </div>
        </div>
        <div class="col-4">
            <div>
                <label for="description" class=" col-form-label">
                    Status description:
                </label>
            </div>
            <div class="card" style="margin: auto">
                <InputText id="description" class="form-control" placeholder="Description"
                           @bind-Value="EditStatusModel.Description" />
            </div>
        </div>
        <div class="col-2">
            <div>
                <label for="code" class=" col-form-label">
                    Status code:
                </label>
            </div>
            <div class="card">
                <InputText id="code" class="form-control" placeholder="Code"
                           @bind-Value="EditStatusModel.Code" />
            </div>
        </div>
        <div class="col-1" style="margin:auto">
            <button type="submit">Submit</button>
        </div>
    </div>
</EditForm>